<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

   
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <!-- <h2 ion-text class="text-primary">
        <strong>Arabic Classroom</strong>
      </h2> -->
    </div>

    <form  [formGroup]="login_form" class="list-form"> 
        <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
      <ion-item>
          
        <ion-input type="text" placeholder="Username" formControlName="username" [(ngModel)]="username" required></ion-input>
        <ion-icon class="icons" name="person" item-start></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" [(ngModel)]="password" required></ion-input>
        <ion-icon class="icons" name="lock" item-start></ion-icon>
      </ion-item> 
    </form>

    

    <div class="btn-center">
      <button ion-button icon-start round color="dark" tappable (click)="login()" type="submit">
        <ion-icon name='log-in'></ion-icon>
        SIGN IN
      </button>     

    </div>   
    <div text-center margin-top>
      <span ion-text class="text-primary"><button ion-button block clear style="color:white" (click)="openWebsite();">www.arabic-classroom.com</button></span>
    </div>
  </div>
</ion-content>
