<ion-header>
    <ion-navbar hideBackButton color="arabic">
        <ion-buttons left>
            <button ion-button (click)="goToHomePage()">
                <ion-icon class="customIcon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title>
        <span ion-text>DUE ASSIGNMENTS</span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="newassignment detail-bg">
    <ion-grid>
      <ion-row  >
        <ion-col *ngFor="let assign of new_assignments">
          <div class="card">           
            <a class="items" (click)="viewSubmitAssignment(assign.details.lesson.ID);">
              <h3><label><strong>Due Date :</strong> </label>{{assign.details.due_date}}</h3>
              <h4><p><strong>Course Name</strong> </p>{{assign.details.course.post_title}}</h4>
              <h4><p><strong>Lesson Name</strong> </p>{{assign.details.lesson.post_title}}</h4>
              <h4><p><strong>Assignment Title</strong> </p>{{assign.details.assignment_title}}</h4>
            </a>
            <div class="link item item-image">
                   <img src="./assets/img/camera.png" *ngIf='assign.details.assignment_type === "image"' (click)="viewCamera(assign.id,assign.details.course.post_name,assign.details.course.ID,assign.details.lesson.ID,assign.details.course.post_name,assign.details.assignment_title)">
                  <img src="./assets/img/microphone.png" *ngIf='assign.details.assignment_type === "audio"' (click)="viewMicrophone(assign.id,assign.details.course.post_name,assign.details.course.ID,assign.details.lesson.ID,assign.details.course.post_name,assign.details.assignment_title)">                     
                    </div>           
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ion-content>
  






<!-- <ion-content padding class="books detail-bg">

  <div class="trip card" *ngFor="let trip of books" tappable (click)="viewDetail(trip.id)" margin-bottom>
    <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg">
      <ion-icon name="time" class="text-white"></ion-icon>
      <span ion-text class="text-white">{{ trip.time }}</span>
      
    </div>
  </div>
</ion-content>  -->
