page-newassignment,
.newassignment {
	.newassignment .card{
		border-radius: 0!important;
    margin: 8px!important;
    height: 45vh;
  }
  .col{
    padding: 0;
  }
//   .item-image img {
//     width: 100%;
//     vertical-align: middle;
// }
.customIcon{
  font-size: 2.2rem!important;
}
.item-image img {
  width: 100%;
  vertical-align: middle;
}
.item-image img{
  width: 32px;
  height: 32px;
  margin: 10px auto;
  display: block;
}
  .items {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0px;
    padding: 0px;
    border-width: 1px;

}
.detail-bg{
  background: url(../assets/img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  }
  .items h3 {
    margin: 0 !important;
    font-size: 14px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: maroon;
    color: white;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    padding: 5px;
  }
  .items h4 {
    font-size: 16px !important;
    color: #6e6e6e;
    margin: 0px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }
  .link{
    display: flex;
  }
}
