page-register{
    ion-item {
        border-radius: 25px !important;
    padding-left: 10px !important;
    margin-bottom: 15px !important;
    color: #fff !important;
    background-color: white!important;
    opacity: .5;
    }
       ::-webkit-input-placeholder {
          color:#535455 !important;
          font-weight: 600;
            }
            
            .item-inner {
                    border-bottom: 0 !important;
                    box-shadow: none !important;
                   }
                   .auth-page::after {
                    content: "";
                   background-position: center;
                }
                .auth-page .scroll-content .login-content .list-form ion-item input {
                    color: #273344!important;
                    font-size: 18px;
                }
                .button-ios-dark, .button-md-dark {
                    color: #273344!important;
                    background-color: white!important;
                    font-weight: 600;
                }
                .btn-center{
                    text-align: center;
                }
                .list-form{
                    margin-top: 125px;
                }
                .icons{
                    color: black;
                    margin: 12px -20px 12px 10px!important;
                } 

}