<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Arabic Classroom</strong>
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form">
        <ion-item>
          
            <ion-input type="text" placeholder="Full Name"></ion-input>
            <ion-icon class="icons" name="person" item-start></ion-icon>
          </ion-item>
          <ion-item>
          
              <ion-input type="mail" placeholder="Email Address"></ion-input>
              <ion-icon class="icons" name="mail" item-start></ion-icon>
            </ion-item>
            <ion-item>
          
                <ion-input type="Number" placeholder="Mobile"></ion-input>
                <ion-icon class="icons" name="ios-phone-portrait" item-start></ion-icon>
              </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
            <ion-icon class="icons" name="lock" item-start></ion-icon>
          </ion-item>
    </form>

    <div margin-top class="btn-center">
        <button ion-button icon-start round color="dark" tappable (click)="register()">
            <ion-icon name='log-in'></ion-icon>
            SIGN IN
          </button>

      <!-- <p text-center ion-text color="secondary">Or Sign Up with:</p> -->

      <!-- <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-facebook">
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-twitter">
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">I have an account</span>
    </div>

  </div>
</ion-content>
