page-home,
.home-bg {
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 0px!important;
  }

  .card-title {
    position: absolute;
    top: 0%;
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    color: #263243;
    text-transform: uppercase;
  }
  .card-title img{
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 10%;
  }
  .card-content-ios, .card-content-md {
    padding: 55px 0px!important;
    font-size: 1.4rem;
}
.card-md, .card-ios{
  width: calc(100% - 175px)!important;
}

.home-bg .card:nth-child(1){
  margin: 175px auto 10px;
}
.home-bg .card:nth-child(2){
  margin: 0 auto!important;
}
.home-bg{
background: url(../assets/img/trip_6.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
}
