<!-- -->
<ion-header>
  <ion-navbar color="arabic">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>ARABIC CLASSROOM</strong>
    </ion-title>
  
  </ion-navbar>
</ion-header>
<ion-content  class="home-bg">
    <ion-card (click)="dodue()">
        <ion-card-content>
            <div class="card-title animated fadeInDown">
              <img src="assets/img/due.png">
              Due Assignments
            </div>
          </ion-card-content>
    
    </ion-card>
  
    <ion-card (click)="dobook()">
        <ion-card-content>
            
      <div class="card-title animated fadeInDown">
          <img src="assets/img/past.png">
        Past Assignments
      </div>
    </ion-card-content>
    </ion-card>
  
  </ion-content>

<!-- <ion-content padding class="animated fadeIn common-bg">

  

  <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="doSearch()">
    <ion-icon name="search"></ion-icon> Search
  </button>

</ion-content> -->
