page-microphone,
.microphone{

  .micro {
    text-align: center;
    margin: 0 auto 0px;
    display: block;
    width: 40%;
}

.micro h2{
  margin: 0;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
} 
.audios{
  max-width: 100%;
  display: block;
  margin: auto;
}
}
