<!-- <ion-header>
  <ion-navbar color="arabic">
    <ion-title>Unit-1: Assignment-2</ion-title>
  </ion-navbar>
</ion-header> -->


<!-- <ion-content padding class="microphone common-bg">

    <div class="micro animated fadeInDown">
      <img src="assets/img/micro.png">
      <h2 class="text-primary">Click to Record</h2>
    </div>
 
</ion-content> -->

<ion-header>
  <ion-navbar hideBackButton color="arabic">
      <ion-buttons left>
          <button ion-button (click)="goToDueAssignments()">
              <ion-icon class="customIcon" name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>{{assignment_name}}</ion-title>  
  </ion-navbar>
</ion-header>

<ion-content padding class="microphone common-bg">
  <ion-card>
    <ion-card-content>
      <ion-card-title>
          <div class="micro animated fadeInDown" *ngIf="recording">
              <img  src="assets/img/stopMicro.png" (click)="stopRecord()">
              <h2 class="text-primary">Click to Stop Record</h2>
            </div>
            <div class="micro animated fadeInDown" *ngIf="!recording">
                <img  src="assets/img/micro.png" (click)="startRecord()">
                <h2 class="text-primary">Click to Record</h2>
              </div>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let audio of audioList; index as i;">
      <p>{{i+1}}</p>
      <p>{{audio.filename}}</p>
      <button ion-button clear item-end large (click)="playAudio(audio.filename, i)" *ngIf="!playing[i]"><ion-icon name="play"></ion-icon></button>
      <button ion-button clear item-end large (click)="stopAudio(audio.filename,i)" *ngIf="playing[i]"><ion-icon name="pause"></ion-icon></button>
      <button ion-button clear item-end large (click)="deleteAudio(audio.filename, i)"><ion-icon name="trash"></ion-icon></button>
    </ion-item>
  </ion-list>
  <button ion-button full icon-left *ngIf="audioList.length>0" (click)="saveAudio()">
    <ion-icon name="checkmark"></ion-icon>
    Save & Upload Audio
</button>
</ion-content>