page-dues,
.dues {
	.dues .card{
		border-radius: 0!important;
    margin: 10px!important;
  }
  .item-image img {
    width: 100%;
    vertical-align: middle;
}
.item-image img{
    width: 64px;
    height: 64px;
    margin: 0px auto 15px;
    display: block;
}
  .items {
  text-align: center;
 }
.detail-bg{
  background: url(../assets/img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  }
  .items h3 {
    margin: 0!important;
    font-size: 14px!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: maroon;
    color: white;
    padding: 5px;
    font-weight: 600;
    line-height: 1.2;
  }
  .items h4 {
    font-size: 16px!important;
    color: #6e6e6e;
    margin:10px!important;
  }
  .card{
    box-shadow: 0 2px 15px rgba(100,100,100,.1), 0 2px 5px rgba(100,100,100,.2)!important;
  }
}
