<ion-header>
        <ion-navbar color="arabic">
          <ion-title>
            <span ion-text>DUE ASSIGNMENTS</span>
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content class="dues detail-bg">
            <div padding-horizontal text-center class="animated fadeInDown">
                    <h2 ion-text class="text-primary">
                      <strong>Arabic Book Name</strong>
                    </h2>
                  </div>
          <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <div class="card" (click)="cam()">
              
                <a class="items">
                  <h3>Unit 1</h3>
                  <h4 class="text-primary">Assignment-1</h4>
                </a>
                <div class="item item-image">
                        <img src="./assets/img/camera.png">
                      </div>
              </div>
                </ion-col>
                <ion-col col-6>
                    <div class="card" (click)="micro()">
                        
                          <a class="items">
                                <h3>Unit 1</h3>
                                <h4 class="text-primary">Assignment-2</h4>
                          </a>
                          <div class="item item-image">
                                <img src="./assets/img/microphone.png">
                             </div>
                        </div>
                </ion-col>

              </ion-row>
            </ion-grid>

            <!-- <ion-fab right bottom>
              <button ion-fab (click)="presentActionSheet()"><ion-icon name="camera"></ion-icon></button>
            </ion-fab> -->
      </ion-content>
      
    
    
    
    
    
    
    <!-- <ion-content padding class="books detail-bg">
    
      <div class="trip card" *ngFor="let trip of books" tappable (click)="viewDetail(trip.id)" margin-bottom>
        <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
          <div class="background-filter rlt">
            <div class="align-bottom" padding-left padding-right>
              <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
            </div>
          </div>
        </div>
        <div class="padding-sm primary-bg">
          <ion-icon name="time" class="text-white"></ion-icon>
          <span ion-text class="text-white">{{ trip.time }}</span>
          
        </div>
      </div>
    </ion-content>  -->
    