<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <h3 text-center ion-text class="no-margin bold text-white">
              MENU
            </h3>  
          </ion-col>
          <!-- <ion-col padding-top col-8>
            <h2 ion-text class="no-margin bold text-white">
              Syed
            </h2>
            <span ion-text color="light">Studen  t</span>
          </ion-col> -->
        </ion-row>

        <!-- <ion-row no-padding class="other-data">
          <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose disabled>
              <ion-icon name="contact"></ion-icon>
              Edit Profile
            </button>
          </ion-col> 
         <ion-col no-padding class="column">
            <button ion-button icon-left small full color="light" menuClose (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
              Log Out
            </button>
          </ion-col> 
        </ion-row> -->

      </ion-grid>

    </ion-toolbar>
  </ion-header>

  <ion-content color="arabic">

    <ion-list class="user-list">
      <button ion-item menuClose class="text-1x" *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon" color="arabic"></ion-icon>
        <span ion-text color="arabic">{{menuItem.title}}</span>
      </button>
      <!-- <button ion-button icon-left small full color="light" menuClose (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Log Out
      </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
