page-camera,
.camera {

  .cam {
    text-align: center;
    margin: 200px auto 0px;
}

.cam h2{
  margin: 0;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
} 

.action-sheet-ios, .action-sheet-button{
 color: #263243!important;
}

}
