<ion-header>
  <ion-navbar hideBackButton color="arabic">
      <ion-buttons left>
          <button ion-button (click)="goToDueAssignments()">
              <ion-icon class="customIcon" name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>{{assignment_name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="camera common-bg">
    <div class="cam animated fadeInDown"  (click)="presentActionSheet()">
      <img src="assets/img/cam.png">
      <h2 class="text-primary">Click to upload</h2>
    </div>
</ion-content>