page-upload,
.upload {
	.upload .card{
		border-radius: 0!important;
    margin: 5px!important;
  }

.item-image img
{
  max-width: 100%;
  height: 166px;
  margin: 0px;
}
  .items {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0px;
    padding: 6px;
    border-width: 1px;

}
.detail-bg{
  background: url(../assets/img/bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  }
.items h3 {
  margin: 0;
  font-size: 14px;
  text-overflow: ellipsis;
  color: #6e6e6e;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
}
}
