<ion-header>
    <ion-navbar color="arabic">
      <ion-title>
        <span ion-text>ASSIGNMENTS</span>
      </ion-title>
    </ion-navbar>
    <!-- <ion-toolbar padding color="light">
      <p ion-text no-margin class="text-white">
        <strong>4</strong> results found!
      </p>
    </ion-toolbar> -->
  
  </ion-header>
  
  <ion-content class="upload detail-bg">
    <ion-grid>
      <ion-row *ngFor="let assign of assignments" >
        <ion-col col-6>
          <div class="card" (click)="view(assign.id,assign.details.course.post_name,assign.details.unit.post_title,assign.details.lesson.post_title,assign.details.course.ID,assign.details.lesson.ID)">
            <div class="item item-image">
             <img img-cache img-cache-src="{{assign.details.file_link}}">
            </div>
            <a class="items">
              <h3><strong>{{assign.details.course.post_name}}</strong></h3>
            </a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  






<!-- <ion-content padding class="books detail-bg">

  <div class="trip card" *ngFor="let trip of books" tappable (click)="viewDetail(trip.id)" margin-bottom>
    <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg">
      <ion-icon name="time" class="text-white"></ion-icon>
      <span ion-text class="text-white">{{ trip.time }}</span>
      
    </div>
  </div>
</ion-content>  -->
