<ion-header>
    <ion-navbar color="arabic">
      <ion-title>
        <span ion-text>PAST ASSIGNMENTS</span>
      </ion-title>
    </ion-navbar>  
  </ion-header>
  
  <ion-content class="books detail-bg">
    <ion-grid >
      <ion-row  >
        <ion-col col-6 *ngFor="let assign of assignments">           
          <div class="card" (click)="view(assign.id,assign.details.course.post_name,assign.details.unit.post_title,assign.details.lesson.post_title,assign.details.course.ID,assign.details.lesson.ID,assign.details.status,assign.details.file_link,assign.details.feedback,assign.details.assignment_type)" >
            <div class="item">
             <img img-cache img-cache-src="{{assign.details.file_link}}" *ngIf='assign.details.assignment_type == "image"'>
             <img img-cache img-cache-src="assets/img/audio-img.png" *ngIf='assign.details.assignment_type === "audio"' (click)="listenAudio(assign.details.file_link)">            
            </div>
            <a class="items">
              <h3><strong>Lesson Name : </strong>{{assign.details.lesson.post_title}}</h3>
              <h3><strong>Feedback : </strong>{{assign.details.feedback}}</h3>
            </a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ion-content>
  
  






<!-- <ion-content padding class="books detail-bg">

  <div class="trip card" *ngFor="let trip of books" tappable (click)="viewDetail(trip.id)" margin-bottom>
    <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg">
      <ion-icon name="time" class="text-white"></ion-icon>
      <span ion-text class="text-white">{{ trip.time }}</span>
      
    </div>
  </div>
</ion-content>  -->
