<!-- -->
<ion-header>

  <ion-navbar  color="arabic">
    <ion-title>
      <span ion-text>ASSIGNMENTS</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg books">
  <!--slides-->
  <!-- <ion-slides class="to-top" autoplay="5000" loop="true" speed="3000" pager>
    <ion-slide *ngFor="let image of trip.images">
      <img [src]="image" alt="">
    </ion-slide>
  </ion-slides> -->
  <div padding-horizontal text-center class="animated fadeInDown">
      <h2 ion-text class="text-primary">
        <strong>{{assignment_post_name}}</strong>
      </h2>
    </div>
  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <div class="card" >
        <a class="items">
          <h3>Unit Name : {{unitName}}</h3>
          <h3>Lesson Name : {{lessonName}}</h3>
          <h3>Feedback : {{feedback}}</h3>
        </a>
        <div>
            <img img-cache img-cache-src="{{this.file_link}}" *ngIf='this.assignment_type === "image"' (click)="showImage(this.file_link)">
            <img img-cache img-cache-src="assets/img/audio-img.png" *ngIf='this.assignment_type === "audio"' (click)="listenAudio(this.file_link)">
            <button ion-button clear item-end large *ngIf='this.assignment_type === "audio" && !playing[i]' (click)="listenAudio(this.file_link, i)"><ion-icon name="play"></ion-icon></button>
            <button ion-button clear item-end large *ngIf='this.assignment_type === "audio" && playing[i]' (click)="stopAudio(this.file_link,i)"><ion-icon name="pause"></ion-icon></button>
        </div>
      </div>
        </ion-col>
    </ion-row>
    </ion-grid>
 

</ion-content>
