page-assignment-detail,
  .book-detail {
    .books .card{
      border-radius: 0!important;
      margin: 5px!important;
    }
  .common-bg{
    background: url(../assets/img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }
  .items h3 {
    margin: 0!important;
    font-size: 18px!important;
    font-weight: 600!important;
    text-align: center;
  }
  .items h4 {
    font-size: 18px !important;
    text-align: center;
  }
 
}
