<!-- -->
<ion-header>

    <ion-navbar hideBackButton color="arabic">
        <ion-buttons left>
            <button ion-button (click)="stopAudioAtLeavingPage()">
                <ion-icon class="customIcon" name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
      <ion-title>
        <span ion-text>SUBMITTED ASSIGNMENT DETAILS</span>
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="common-bg books">
    <!--slides-->
    <!-- <ion-slides class="to-top" autoplay="5000" loop="true" speed="3000" pager>
      <ion-slide *ngFor="let image of trip.images">
        <img [src]="image" alt="">
      </ion-slide>
    </ion-slides> -->
    <div padding-horizontal text-center class="animated fadeInDown">
        <h2 ion-text class="text-primary">
          <strong>{{assignment_post_name}}</strong>
        </h2>
      </div>
    <ion-grid >
      <ion-row *ngIf="this.IsNotSubmitted">
          Currently Assignment Not Submitted. Please Submit before due date.
      </ion-row>
        <ion-row *ngIf="!this.IsNotSubmitted">
          <ion-col col-6>
            <div class="card" >
          <a class="items">
            <h3><strong>Unit Name : </strong> {{unitName}}</h3>
            <h3><strong>Lesson Name : </strong> {{lessonName}}</h3>           
          </a>
          <div >
              <img img-cache img-cache-src="{{this.file_link}}" *ngIf='this.assignment_type === "image"' (click)="showImage(this.file_link)">
              <img class="audios" img-cache img-cache-src="assets/img/audio-img.png" *ngIf='this.assignment_type === "audio"  && !playing[i]' (click)="listenAudio(this.file_link,i,$event)">
              <img class="audios" img-cache img-cache-src="assets/img/mute.png" *ngIf='this.assignment_type === "audio"  && playing[i]' (click)="stopAudio(this.file_link,i)">
              <!-- <button ion-button clear item-end large *ngIf='this.assignment_type === "audio" && !playing[i]' (click)="listenAudio(this.file_link, i)"><ion-icon name="play"></ion-icon></button>
              <button ion-button clear item-end large *ngIf='this.assignment_type === "audio" && playing[i]' (click)="stopAudio(this.file_link,i)"><ion-icon name="pause"></ion-icon></button>-->
              <button style="float:right" ion-button clear item-end large (click)="deleteAssignment(this.assignmentId,this.lesson_id,this.course_id,this.course_name,this.unitName)"><ion-icon name="trash"></ion-icon></button>
            </div>
        </div>
          </ion-col>
      </ion-row>
      </ion-grid>
  </ion-content>
  